SalesforceDev310/src/flows/Flow_Example_2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>MyPlugin</name>
        <label>MyPlugin</label>
        <locationX>211</locationX>
        <locationY>166</locationY>
        <apexClass>Plugin_Example</apexClass>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>Exp</name>
            <value>
                <elementReference>Exp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Bonus</assignToReference>
            <name>Bonus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Salary</assignToReference>
            <name>Salary</name>
        </outputParameters>
    </apexPluginCalls>
    <interviewLabel>Flow_Example_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Example_2</label>
    <processType>Flow</processType>
    <screens>
        <name>Home_Screen</name>
        <label>Home_Screen</label>
        <locationX>177</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MyPlugin</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exp</name>
            <dataType>Number</dataType>
            <fieldText>Exp</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output_Screen</label>
        <locationX>263</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output_Screen1</name>
            <fieldText>Salary : {!Salary}
Bonus :  {!Bonus}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Home_Screen</startElementReference>
    <variables>
        <name>Bonus</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Salary</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
